#search-table thead tr th:nth-child(1){
    width: 10%;
}

#search-table thead tr th:nth-child(2){
    width: 50%;
}

#search-table thead tr th:nth-child(3){
    width: 10%;
}

#search-table thead tr th:nth-child(4){
    width: 15%;
}

#search-table thead tr th:nth-child(5){
    width: 15%;
}


#data-tabl-institute thead tr th:nth-child(1){
    width: 5%;
}

#data-table-institute thead tr th:nth-child(2){
    width: 55%;
}

#data-table-institute thead tr th:nth-child(3){
    width: 20%;
}

#data-table-institute thead tr th:nth-child(4){
    width: 20%;
}

.font-small{
    font-size: 0.8rem;
}

#itensQuantityCombo{
    width: 3.9rem;
}